<div class="col-md-6">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Gegevens aanpassen</h3>
		</div>
	  	<div class="panel-body">

<%= render 'form', customer: @customer %>

		</div>
			
	</div>
</div>