<h1>Pagina's</h1>
<%= render @pages %>
<%= link_to 'Nieuwe Pagina', new_page_path, class: 'btn btn-primary' %>

  <table class="sortable table table-bordered table-striped table-hover">
  	<thead>
			<tr>
				<th>Titel</th>
			</tr>
	</thead>
		<% @pages.each do |p| %>
			<tr>
				<td> <%= p.title %> </td>
				<td> <%= link_to 'Bekijk', page_path(page), class: 'btn btn-warning' %> </td>
		<% end %>
  </table>