<div id="error_explanation">
	<!--<h4><%= pluralize(@reservation.errors.count, %{errors}) %> zorgen ervoor dat deze 
										reservering niet aangemaakt kan worden:</h4>
	<ul>
		<% @reservation.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
-->
	<h4> U heeft de volgende velden verkeerd ingevuld. </h4>
</div>