<!DOCTYPE html>
<html> 
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Uw reservering, Heer/Mevrouw <%= @reservation.customer.last_name %></h1>
		<p>
			Dit is een bevestiging van uw reservering.
		</p>
	</body>
</html>