@import "bootstrap-sprockets";
@import "bootstrap";
@media print {
		body { background-color: #FFF; }
		a:after { content:' [' attr(href) '] '}
		h1, div.alert, form#search-form, a.no_print, th.no_print, td.no_print, div.no_print  {
		display: none;
		}
	#container {
				width: auto;
				margin: 0;
				padding: 0;
				border: 0;
	}
}
table th.sortable{
	cursor: pointer;
}
body{
	background-color: #fafafa;
	font-size: 12px;

}
a, input, .btn, .form-control{
	font-size: 12px;
	line-height: 1.200
}
