@import "bootstrap-sprockets";
@import "bootstrap";
@import 'parsley';

@media print {
		body { background-color: #FFF; }
		a:after { content:' [' attr(href) '] '}
		h1, div.alert, form#search-form, a.no_print, th.no_print, td.no_print, div.no_print  {
		display: none;
		}
	#container {
				width: auto;
				margin: 0;
				padding: 0;
				border: 0;
	}
}
table th.sortable{
	cursor: pointer;
}
body{
	background-color: #fafafa;
	font-size: 12px;

}
a, input, .btn, .form-control{
	font-size: 12px;
	line-height: 1.200
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#logo{
	background-image: image-url("166x111wit.png");
	height: 111px;
	width: 166px;
}