// Place all the styles related to the customer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper
	.box-wrapper
		.info-box
			width: 100%
			height: auto
			float: left
			//background-color: yellow
		.list-items
			width: 638px
			//background-color: red
			height: auto
			float: left
			margin-right: 26px
		.item
			width: 638px
			height: 200px
			float: left
			//background-color: #833839
			margin-bottom: 10px
			border: 1px solid grey
			.dummy
				height: 154px
				width: 203px
				background-image: url("arrangement_dummy.png")
				float: left
				margin: 20px 15px 20px 15px
			.button
				float: right

			h2
				width: 390px
				//background-color: yellow
				float: left
			p 
				width: 390px
				//background-color: blue
				float: left
		.experiences-items
			width: 306px
			height: auto
			background-color: yellow
			float: left
.experiences
	background-color: red 
	width: 306px
	height: 300px
	float: left
.benefits
	background-color: purple
	width: 306px
	height: 300px
	margin-top: 30px
	float: left
	ul
		float: left
		width: 100%
		height: auto 
		background-color: red
		li
			float: left 
			width: 100%
			background-color: green
			height: 50px
			img 
				background-color: yellow
				width: 50px
				height: 50px
				float: left			
				
			p
				background-color: red 
				width: 256px
				height: 30px
				float: left 