@media print {
		body { background-color: #FFF; }
		a:after { content:' [' attr(href) '] '}
		h1, div, a {
		visibility: hidden;
		}
	#container {
				width: auto;
				margin: 0;
				padding: 0;
				border: 0;
	}
}