// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$website-width: 996px
$height: 200px
#container
	background-color: #000
	width: $website-width
	height: $height

.wrapper
	background-color: #000
	width: $website-width
	height: $height