.experiences-items
	%h3 Ervaringen
	.experiences
		%img
		%h4 Jan Jansen
		%p 
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
	%h3.benefits-title Voordelen
	.benefits
		%ul
			%li 
				%img
				%p 
					Buiten aangelegenheid met luifel
			%li 
				%img
				%p 
					Dicht gelegen bij het Leeuwarder bos
			%li 
				%img
				%p 
					Persoonlijk contact
			%li 
				%img
				%p 
					Geschikt voor 40 personen
			%li 
				%img
				%p 
					Zaalbekleding door ons decoteam
			%li 
				%img
				%p 
					Keuken tot beschikking
		.button 
			%a Vraag gelijk een offerte aan!