#container
	.header
		.logo
		.top-menu

		#menu
	.wrapper
		.box-wrapper
			.home
				.box
					%a.link
						Ik wil een feest geven >
				.box
					%a.link
						Ik wil een feest geven >
				.box
					%h3 Andere mogelijkheden
					%ul
						%li
							%a Recreatief
						%li
							%a Workshops
						%li
							%a uitvaart
						%li
							%a Neem vrijblijvend contact op


	.wrapper
		.box-wrapper
			.arrangements
				%h2
					Populaire arrangementen
				.box
					.dummy
					%h3 Trouwfeest met catering
					%p
						Haml (HTML abstraction markup language) is based on one primary principle: markup should be beautiful. It’s not just beauty for beauty’s
					.button
						Bekijk arrangement  >


				.box
					.dummy
					%h3 Trouwfeest met catering
					%p
						Haml (HTML abstraction markup language) is based on one primary principle: markup should be beautiful. It’s not just beauty for beauty’s	
					.button
						Bekijk arrangement  >
				.box
					.dummy
					%h3 Trouwfeest met catering
					%p
						Haml (HTML abstraction markup language) is based on one primary principle: markup should be beautiful. It’s not just beauty for beauty’s
					.button
						Bekijk arrangement  >
				.box
					sd
	.wrapper
		.box-wrapper
			.box-2
				%h2
					Over de koepel
				.content
					%h3 De Koepel zaalverhuur in Leeuwarden
					%p
						Haml (HTML abstraction markup language) is based on one primary principle: markup should be beautiful. It’s not just beautifulauty for beauty’s
			.box-2
				%h2
					Het laatste nieuws 
				.content
					.last-news-item
						.dummy
							.date
								%a.day 17
								%a.month Feb
						%h3 Kinderkunst op Topstukkenmarkt Fries Museum
						%p
							Haml (HTML abstraction markup language) is based on one primary principle: markup should be beautiful. It’s not just beautifulauty for beauty’s
					.news
						%ul
							%li
								%label 17 Feb
								%a Kinderkunst op Topstukkenmarkt Fries Museum
							%li
								%label 17 Feb
								%a Kinderkunst op Topstukkenmarkt Fries Museum
							%li
								%label 17 Feb
								%a Kinderkunst op Topstukkenmarkt Fries Museum
