#container
	.header
		.logo
		.top-menu

		#menu
	.wrapper
		.box-wrapper
			.home
				.box
					%a.link
						Ik wil een feest geven >
				.box
					%a.link
						Ik wil een feest geven >
				.box
					%h3 Andere mogelijkheden
					%ul
						%li
							%a Recreatief
						%li
							%a Workshops
						%li
							%a uitvaart
						%li
							%a Neem vrijblijvend contact op


	.wrapper
		.box-wrapper
			.arrangements
				%h2.orange
					Populaire arrangementen
				.box
					.dummy
					%h3 Trouwfeest met catering
					%p
						Haml (HTML abstraction markup language) is based on one primary principle: markup should be beautiful. It’s not just beauty for beauty’s
					%a.button
						Bekijk arrangement  >


				.box
					.dummy
					%h3 Trouwfeest met catering
					%p
						Haml (HTML abstraction markup language) is based on one primary principle: markup should be beautiful. It’s not just beauty for beauty’s	
					%a.button
						Bekijk arrangement  >
				.box
					.dummy
					%h3 Trouwfeest met catering
					%p
						Haml (HTML abstraction markup language) is based on one primary principle: markup should be beautiful. It’s not just beauty for beauty’s
					%a.button
						Bekijk arrangement  >
				.box
					sd
	.wrapper
		.box-wrapper
			.box-2
				%h2
					Over de koepel
				.content
					%h3 De Koepel zaalverhuur in Leeuwarden
					%p
						Haml (HTML abstraction markup language) is based on one primary principle: markup should be beautiful. It’s not just beautifulauty for beauty’s
			.box-2
				%h2
					Het laatste nieuws 
				.content
					.last-news-item
						.dummy
							.date
								%a.day 17
								%a.month Feb
						%h3 Kinderkunst op Topstukkenmarkt Fries Museum
						%p
							Haml (HTML abstraction markup language) is based on one primary principle: markup should be beautiful. It’s not just beautifulauty for beauty’s
					.news
						%ul
							%li
								%label 17 Feb
								%a Kinderkunst op Topstukkenmarkt Fries Museum
							%li
								%label 17 Feb
								%a Kinderkunst op Topstukkenmarkt Fries Museum
							%li
								%label 17 Feb
								%a Kinderkunst op Topstukkenmarkt Fries Museum
	.wrapper
		.box-wrapper
			.info-box
				%h3 Zaalverhuur arrangementen
				%p 
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
	.wrapper
		.box-wrapper
			%h3.three Onze arrangementen
			%h3.one Ervaringen
			.list-items
				.item 
					.dummy
					%h2 Trouwfeest met catering
					%p 
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
					
					.button 
						%a Bekijk arrangement
					
				.item 
					.dummy
					%h2 Trouwfeest met catering
					%p 
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
					
					.button 
						%a Bekijk arrangement

				.item 
					.dummy
					%h2 Trouwfeest met catering
					%p 
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
					
					.button 
						%a Bekijk arrangement

				.item 
					.dummy
					%h2 Trouwfeest met catering
					%p 
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
					
					.button 
						%a Bekijk arrangement
			
			.experiences-items
				.experiences
					%img
					%h4 Jan Jansen
					%p 
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
				%h3.benefits-title Voordelen
				.benefits
					%ul
						%li 
							%img
							%p 
								Buiten aangelegenheid met luifel
						%li 
							%img
							%p 
								Dicht gelegen bij het Leeuwarder bos
						%li 
							%img
							%p 
								Persoonlijk contact
						%li 
							%img
							%p 
								Geschikt voor 40 personen
						%li 
							%img
							%p 
								Zaalbekleding door ons decoteam
						%li 
							%img
							%p 
								Keuken tot beschikking
					.button 
						%a Vraag gelijk een offerte aan!

						
						

			

